{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <script src="{% static 'stock/echarts.js' %}" type="text/javascript"></script>
</head>
<body>
    <div id="main" style="width: 600px;height: 400px;"></div>
    <form>
        <input type="text" id="stock_code" name="stock_code">
        <br>
    </form>
    <button type="button" id="Search" name="Search">Search</button>
</body>
    <script src="{% static 'stock/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
        function getLocalTime(nS) {
            return new Date(parseInt(nS)).toLocaleString().replace(/:\d{1,2}$/,' ');
        }
        $(document).ready(function () {
            $("button").click(function () {
                const code = $("#stock_code").val();

                $.get("/stock/stock_history",{'code':code},function (ret) {
                    let obj = JSON.parse(ret);
                    let dates = new Array();
                    let closes = new Array();
                    for(let ts in obj["Close"]){
                        dates.push(getLocalTime(ts));
                        closes.push(obj.Close[ts]);
                    }

                    var myChart = echarts.init(document.getElementById('main'));
                    var option = {
                        xAxis: {
                        type: 'category',
                        data: dates
                    },
                        yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: closes,
                        type: 'line'
                    }]
                    };
                    myChart.setOption(option);
                    //$("#result").html(str);
                });
            });
        });

    </script>
</html>